body{
    background-color: #171a17;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 80px 0;
}
#heading{

    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 70px;

}
#introduction{
    padding-top: 0;
    text-align: center;
    width: 400px;

    position: relative;
}

#infoBoxHeading{
    margin-top: 20px;
    margin-bottom: 0;

}


.projectContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    max-width: 900px;

}
.infoBox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px 20px;
    width: 200px;
    height: 200px;
    border: #262625;
    border-radius: 2rem;
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75) , inset 3px 3px 3px 0px rgba(38,38,38,1);
    cursor: pointer;
}
.infoBox:hover{
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75) , inset 1px 1px 1px 0px rgba(38,38,38,1);
    transition: 200ms;
}
