body{
    background-color: #171a17;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 80px 0;
    z-index: 3;
    
}
#heading{

    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 70px;

}
#introduction{
    padding-top: 0;
    text-align: center;
    width: 400px;

    position: relative;
}

#infoBoxHeading{
    margin-top: 20px;
    margin-bottom: 0;

}


.projectContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    max-width: 900px;
    
}
.infoBox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px 20px;
    width: 200px;
    height: 200px;
    border: #262625;
    border-radius: 2rem;
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75) , inset 3px 3px 3px 0px rgba(38,38,38,1);
    cursor: pointer;
}
.infoBox:hover{
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75) , inset 1px 1px 1px 0px rgba(38,38,38,1);
    transition: 200ms;
}

.timelineContainer{
    
    position: relative;
    background-color: #2d362b;
}

.spacer{
    aspect-ratio: 900/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.layer1{
    background-image: url('./layer1.svg');
}


.TimeLineLine{
    position: relative;
    top: -800px;
    background-color: #171a17;
    margin-left: 100px;
    z-index: 2;
    width: 10px;
    height: 1000px;
}



.TimeLine{
    width: 100%;
    margin:auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2d362b;
    color: #92a392;
    z-index: 1;
}
.SingleTimeline{
    display: flex;
    justify-content: center;


}

.TimeLineDate{
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 30px;
    transform: rotate(-90deg);

}
.TimeLineText{

    width: 400px;
    border-right: 50px;
}